{% assign selected_product = product.selected_or_first_available_variant %}
{% assign featured_image = selected_product.featured_image | default: product.featured_image %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <div>
                {% if featured_image != blank %}
                    <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt }}">
                    {% else %}
                    {{ 'product-1' | placeholder_svg_tag }}
                {% endif %}
            </div>
            {% for image in product.images %}
                <img class="border" src="{{ image | img_url: 'small' }}" alt="{{ image.alt }}"/>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.title }}</h1>
            <p>{{ product.price | money }}</p>

            {% form 'product', product, class: 'product-form', id: 'addProductToCard' %}
                <div class="mb-3">
                    <select class="form-select" name="id">
                        {% for variant in product.variants %}
                            {% if variant.available %}
                                <option value="{{ variant.id }}">{{ variant.title }}</option>
                            {% else %}
                                <option value="{{ variant.id }}" disabled>{{ variant.title }} - sold out</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <input class="form-control" type="number" id="quantity" min="1" value="1" name="quantity">
                </div>

                <div class="mb-3">
                    <button type="submit" name="add" value="Add to cart" class="btn btn-secondary w-100 btn-lg">Add to card</button>
                    {% if section.settings.enable-dynamic-payment-buttons %}
                        {{ form | payment_button }}
                    {% endif %}
                </div>
            {% endform %}
        </div>
    </div>
</div>

{% schema %}
{
"name": "Product page",
"settings": [
    {
        "type": "checkbox",
        "label": "Enable dynamic payment buttons",
        "id": "enable-dynamic-payment-buttons",
        "default": false
    }
],
"presets": [
    {
        "name":"Product page",
        "category":"Product template"
    }
]

}
{% endschema %}
